.container{
  
    display: grid;
    grid-template-columns: repeat(2, 220px); 
    gap: 50px;
    justify-content: center; 
    align-items: center;
}

@media(max-width: 1100px){

    .container{
        grid-template-columns: 30%;
    }
}
    
.box{ 
    border: 10px solid black;
    border-radius: 20%;
     height: 200px;
} 


h1{
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: "Jersey 10", sans-serif;
     font-size: 140px;
  font-style: normal;
    text-align: center;
    color: #fef2bf;
}


body{
    background-color:  #011f3f;
}
.bodyred{
    background-color: #ff0000;
}


.green{
    background-color: 
    #008000;
}

.red{
    background-color: 
    #ff0000;
}

.yellow{
    background-color: #ffff00;
}

.blue{
    background-color: 
    #0000ff;
}

.pressed{
    box-shadow: 0 0  30px grey;
}

